*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(135, 235, 203);
}

.contenedor{
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: rgb(77, 138, 192);
}

.lado-izq{
    height: 100%;
    background-color: rgb(132, 174, 200);
    grid-column: span 2;
}

.lado-der{
    height: 100%;
    background-color: rgb(14, 46, 66);
    grid-column: span 5;
}